
.home_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(253, 234, 215);
    
    
}

.image img{
    width: 90%;
    height:70vh;
    border-radius: 0px 30px;
    margin:30px 10px;
    
}